//引入清除默认样式
@use './reset.scss';

//滚动条外观设置
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: $base-menu-background;
}

::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: yellowgreen;
    border-radius: 2px;
}